<p class="hidden-print">Bitte <a href="#" class="printOnClick">drucken</a> sie diese Seite aus 
   und senden Sie unterschrieben an die oben genannte Adresse.</p>

<f:render partial="BookingFormStep2Content" arguments="{data: data}" />

<p class="hidden-print">Bitte <a href="#" class="printOnClick">drucken</a> sie diese Seite aus 
   und senden Sie unterschrieben an die oben genannte Adresse.</p>

<div class="signingArea">
   <p>Hiermit beauftrage ich den DRK Ortsverein Tettnang e.V. für den oben genannten
      Zeitraum ein Angebot für einen sanitätsdienstlichen Wachdienst zu erstellen.</p>
   
   <div class="col-xs-5">
      Ort, Datum
   </div>
   
   <div class="col-xs-offset-2 col-xs-5">
      Stempel, Unterschrift
   </div>
</div>
