.neos-select2-container.neos-select2-container-multi.ember-view.ember-select .neos-select2-search-choice:first-of-type {
  /*display: none;*/
}

.neos-backend .events {
  min-height: 100px;
}
.neos-backend .common {
  position: relative;
}
.neos-backend .common:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.2);
  opacity: 0.5;
  z-index: 999;
}
.neos-backend [data-node-alignment="left"][typeof="neos:Neos.NodeTypes:Image"] {
  float: left;
}
.neos-backend [data-node-alignment="left"][typeof="neos:Neos.NodeTypes:Image"] * {
  float: none;
}
.neos-backend [data-node-alignment="right"][typeof="neos:Neos.NodeTypes:Image"] {
  float: right;
}
.neos-backend [data-node-alignment="right"][typeof="neos:Neos.NodeTypes:Image"] * {
  float: none;
}
.neos-backend .neos-contentelement.neos-contentelement-hidden > * {
  opacity: 0.5;
}
.neos-backend .carousel:before {
  content: 'Carousel Auswahl';
  margin-bottom: 10px;
  text-align: center;
  display: block;
  background-color: gray;
  border-radius: 3px;
}
.neos-backend .carousel .carousel-inner {
  overflow: visible !important;
}
