body {
  color: #000;
  padding-top: 50px;
}

a[target="_blank"]:before {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin-right: 3px;
  font-size: 0.9em;
}

#main-content h1 {
  background-color: #999;
  color: #fff;
  padding: 0.6em 0.1em 0.5em 0.6em;
  font-size: 1.2em;
  font-weight: bold;
}
#main-content h2 {
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}
#main-content h3 {
  color: #000;
  font-size: 1em;
  font-weight: bold;
}
#main-content form h1 {
  text-align: right;
  padding: 0.6em 0.6em 0.5em 0.1em;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
#main-content table {
  width: 100%;
  border-top: 1px solid #ccc;
}
#main-content table tr {
  border-bottom: 1px solid #ccc;
}
#main-content table td, #main-content table th {
  padding: 0.4em 0.8em;
}
#main-content table th {
  background: #eee;
  font-weight: bold;
}
#main-content table.clear-layout {
  border: 0;
}
#main-content table.clear-layout tr {
  border: 0;
}
#main-content table.clear-layout td, #main-content table.clear-layout th {
  background-color: transparent;
  font-weight: normal;
}
#main-content .events table {
  margin: 0 0 10px;
}
#main-content .events td {
  background-color: #f1f1f1;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}
#main-content .events[data-type='training'] .bezeichnung {
  width: 15%;
}
#main-content .events[data-type='training'] .fromTo {
  font-weight: bold;
}
#main-content .events[data-type='training'] .ort, #main-content .events[data-type='training'] .plaetze, #main-content .events[data-type='training'] .preis {
  font-size: 85%;
}
#main-content .events[data-type='training'] [data-plaetze='0'] .fromTo {
  font-weight: normal;
}
#main-content .events[data-type='hiorg'] .title {
  font-weight: bold;
  display: inline-block;
  margin-right: 6px;
}
#main-content .events[data-type='hiorg'] .title span.category {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 0.3em;
  margin-right: 0.5em;
  vertical-align: text-top;
  margin-left: -2px;
}
#main-content .events[data-type='hiorg'] .fromTo {
  display: inline-block;
}
#main-content .events[data-type='hiorg'] .location {
  font-size: 85%;
}
#main-content .events .keys {
  font-size: 90%;
  text-align: right;
}
#main-content .events .keys span.category {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 0.3em;
  margin-right: 0.2em;
  vertical-align: text-top;
  margin-left: 0;
}
#main-content .events .keys span.key {
  display: inline-block;
  margin-right: 1em;
}
#main-content .events .cat1 {
  background-color: #fafafa;
}
#main-content .events .cat2 {
  background-color: #f3f3f3;
}
#main-content .events .cat3 {
  background-color: #f0f0f0;
}
#main-content .events .cat4 {
  background-color: #ff0099 !important;
  color: #ffffff;
}
#main-content .events .cat5 {
  background-color: #fad165 !important;
  color: #000000;
}
#main-content .events .cat6 {
  background-color: #ffad47 !important;
  color: #000000;
}
#main-content .events .cat7 {
  background-color: #fb573c !important;
  color: #ffffff;
}
#main-content .events .cat8 {
  background-color: #ff99cc !important;
  color: #000000;
}
#main-content .events .cat9 {
  background-color: #ff3399 !important;
  color: #ffffff;
}
#main-content .events .cat10 {
  background-color: #cd73e4 !important;
  color: #ffffff;
}
#main-content .events .cat11 {
  background-color: #9966cc !important;
  color: #ffffff;
}
#main-content .events .cat12 {
  background-color: #4a86e8 !important;
  color: #ffffff;
}
#main-content .events .cat13 {
  background-color: #0055cc !important;
  color: #ffffff;
}
#main-content .events .cat14 {
  background-color: #009999 !important;
  color: #ffffff;
}
#main-content .events .cat15 {
  background-color: #33cc99 !important;
  color: #000000;
}
#main-content .events .cat16 {
  background-color: #7bd148 !important;
  color: #000000;
}
#main-content .events .cat17 {
  background-color: #b4dc6c !important;
  color: #000000;
}
#main-content .events .cat18 {
  background-color: #b69659 !important;
  color: #ffffff;
}
#main-content .events .cat19 {
  background-color: #ac725e !important;
  color: #ffffff;
}

#main-sidebar h2 {
  color: #000;
  font-size: 1.3em;
}
#main-sidebar h3 {
  color: #000;
  font-size: 1.2em;
}

img {
  max-width: 100%;
}

.ta::before {
  content: '@';
}

input[required].no-validation, textarea[required].no-validation {
  background-image: url() !important;
}
input[required]:valid, textarea[required]:valid {
  background-image: url(../Images/icons/checkmark_green.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 30px;
}
input[required]:invalid, textarea[required]:invalid {
  background-image: url(../Images/icons/cross_red.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 30px;
}

header {
  display: block;
  width: 100%;
  padding: 75px 0px;
  box-sizing: border-box;
  background-position: top center;
  background-size: cover;
  background-color: #999;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
header .btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  margin: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
header .btn-primary {
  border-color: #999;
  color: #fff;
  background-color: #999;
  -webkit-transition: all .35s;
  transition: all .35s;
}
header .btn-primary:hover {
  border-color: #e30613;
  background-color: #e30613;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}
header h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
}
header hr {
  margin: 30px auto;
  width: 50px;
  border-color: #e30613;
  border-width: 3px;
}
header p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
}
header .header-content {
  position: relative;
  z-index: 20;
  text-align: center;
  width: 100%;
}
header .header-content-inner {
  margin: 0 auto;
  padding: 0 50px;
}

footer {
  margin-top: 50px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .affix {
    width: 212px;
    top: 70px;
    position: fixed;
  }
}
@media (max-width: 768px) {
  .affix {
    position: static;
  }
}
.affix-bottom {
  position: absolute;
}

#sub-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sub-nav ul li {
  padding-left: 10%;
  line-height: 2.6;
  border-left: 1px solid #fff;
  margin-bottom: 3px;
}
#sub-nav ul li a {
  color: #000;
}
#sub-nav ul li a:hover {
  text-decoration: none;
}
#sub-nav ul li a[href^="http"], #sub-nav ul li a[href^="#"] {
  display: none;
}
#sub-nav ul li:hover {
  border-left-color: #999;
}
#sub-nav ul li.active {
  border-left: 2px solid #e30613;
  margin-left: -1px;
}
#sub-nav ul li.current > a {
  font-weight: bold;
}
#sub-nav ul li.normal ul {
  display: none;
}
#sub-nav > ul > li.current {
  border-left: 2px solid #e30613;
  margin-left: -1px;
}

#third-level-nav {
  float: right;
}
#third-level-nav .current a {
  font-weight: bold;
}

#main-sidebar .row {
  padding: 15px;
}
#main-sidebar .row > div {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-top: 20px;
}

#main-nav {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #main-nav {
    height: 50px;
  }
}

#footer-nav {
  margin-bottom: 0px;
}

.navbar-default.navbar-drk {
  background-color: #e8e8e8;
  border: 0;
}
.navbar-default.navbar-drk .navbar-brand:hover {
  color: #e30613;
}
.navbar-default.navbar-drk .navbar-brand img {
  float: left;
  height: 100%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-right: 5px;
}
.navbar-default.navbar-drk .navbar-nav > li > a {
  color: #000;
}
.navbar-default.navbar-drk .navbar-nav > li > a:hover {
  color: #e30613;
}
.navbar-default.navbar-drk .navbar-nav .open > a, .navbar-default.navbar-drk .navbar-nav .open > a:hover, .navbar-default.navbar-drk .navbar-nav .open > a:focus {
  background-color: #c1c1c1;
}
.navbar-default.navbar-drk .navbar-nav .active > a, .navbar-default.navbar-drk .navbar-nav .active > a:hover, .navbar-default.navbar-drk .navbar-nav .active > a:focus {
  color: #fff;
  background-color: #e30613;
}
.navbar-default.navbar-drk .navbar-nav .current > a, .navbar-default.navbar-drk .navbar-nav .current > a:hover, .navbar-default.navbar-drk .navbar-nav .current > a:focus {
  color: #fff;
  background-color: #e30613;
}
.navbar-default.navbar-drk .dropdown.open {
  background-color: #d8d8d8;
}
.navbar-default.navbar-drk .dropdown-menu {
  border: 0;
  border-radius: 0;
  /*box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);*/
  background-color: #f8f8f8;
  position: static;
}
.navbar-default.navbar-drk .dropdown-menu .current > a, .navbar-default.navbar-drk .dropdown-menu .current > a:hover, .navbar-default.navbar-drk .dropdown-menu .current > a:focus {
  color: #000;
  background-color: transparent;
  font-weight: bold;
}
.navbar-default.navbar-drk .dropdown-menu .active > a, .navbar-default.navbar-drk .dropdown-menu .active > a:hover, .navbar-default.navbar-drk .dropdown-menu .active > a:focus {
  background-color: transparent;
  font-weight: bold;
}
@media (max-width: 767px) {
  .navbar-default.navbar-drk .dropdown-menu .active > a, .navbar-default.navbar-drk .dropdown-menu .active > a:hover, .navbar-default.navbar-drk .dropdown-menu .active > a:focus {
    color: #000;
    background-color: red;
  }
}
.navbar-default.navbar-drk .dropdown-menu > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .navbar-default.navbar-drk .dropdown-menu > li > a {
    color: #000;
  }
}
.navbar-default.navbar-drk .navbar-toggle {
  border-color: #a1a1a1;
}
.navbar-default.navbar-drk .navbar-toggle .icon-bar {
  background-color: #a1a1a1;
}

.navbar-default .dropdown-menu:before {
  bottom: 100%;
  left: 17px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #e8e8e8;
  border-width: 10px;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e30613;
  }
}
figure {
  margin-bottom: 10px;
}
figure img {
  height: auto;
}
figure.typo3-neos-alignment-left {
  margin-right: 20px;
  float: left;
}
figure.typo3-neos-alignment-right {
  margin-left: 20px;
  float: right;
}
figure figcaption p {
  margin: 0;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
}

.typo3-neos-nodetypes-headline > div {
  display: inline-block;
}

.jumbotron {
  border-radius: 12px;
  margin: 20px 20px;
}
.jumbotron p {
  font-size: 14px;
}

.operation {
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.operation h1 {
  white-space: nowrap;
}
.operation .number, .operation:before {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  background-color: #e30613;
  float: left;
  font-weight: bold;
  color: #fff;
  line-height: 70px;
  text-align: center;
  margin-right: 15px;
  font-size: 1.2em;
  border: 3px solid #fff;
  margin-top: -30px;
  margin-left: -20px;
}
.operation:before {
  content: ' ';
  margin-top: -20px;
  margin-left: 0;
  position: absolute;
  background-color: #fff;
}
.operation .body {
  padding-left: 95px;
  min-height: 20px;
}
.operation .type {
  padding-left: 0px;
  margin-top: 40px;
  margin-left: 10px;
}
.operation .footer {
  overflow: hidden;
  margin-left: 95px;
  background-color: #f1f1f1;
  padding: 10px;
}
.operation .location {
  opacity: 0.5;
  float: left;
}
.operation .date {
  float: right;
  opacity: 0.5;
}
.operation .bos {
  padding-top: 10px;
}
.operation .bos .icon {
  float: left;
  margin-right: 3px;
  opacity: 0.5;
}
.operation .more {
  margin-top: 15px;
  text-align: right;
}

@media (min-width: 768px) {
  .col-sm-4 .operation .body {
    padding-left: 0px;
  }
  .col-sm-4 .operation .footer {
    margin-left: 0px;
  }
}
article.highlight h1 {
  background-color: #e30613 !important;
}
article.facebook h1:first-of-type:before {
  content: "\f082";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin-right: 5px;
}
article p:before {
  content: ' ';
  display: block;
  overflow: hidden;
  width: 10em;
}

.fb-post .Like:before {
  content: "\f164";
}
.fb-post .Comment:before {
  content: "\f086";
}
.fb-post .Share:before {
  content: "\f064";
}
.fb-post .more:before {
  content: "\f082";
}
.fb-post .fb-body {
  overflow: hidden;
}
.fb-post .fb-meta {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
}
.fb-post .fb-meta p {
  color: rgba(0, 0, 0, 0.5);
}
.fb-post .fb-meta a {
  color: #000;
  opacity: 0.5;
  margin-right: 10px;
}
.fb-post .fb-meta a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin-right: 5px;
  padding-bottom: 3px;
  background-color: #f1f1f1;
  display: inline-block;
}

.mediaItem {
  padding-top: 0.1px;
  margin: 50px 0px;
}
.mediaItem .media {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #999;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  padding: 0;
  text-align: center;
  font-size: 30px;
}
.mediaItem.left .media {
  float: left;
  margin-right: 30px;
}
.mediaItem.left .content {
  margin-left: 130px;
}
.mediaItem.right .media {
  float: right;
  margin-left: 30px;
}
.mediaItem.right .content {
  margin-right: 130px;
  text-align: right;
}
.mediaItem.top .media {
  margin-bottom: 30px;
}

.images {
  font-size: 0;
}
.images a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.gallery {
  text-align: center;
  margin-bottom: 10px;
}
.gallery.right {
  text-align: right;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}
.gallery.left {
  text-align: left;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.gallery a {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  -webkit-transition: height 0.5s;
          transition: height 0.5s;
}
.gallery .square {
  -webkit-transition: height 0s;
          transition: height 0s;
}
.gallery .more {
  display: none;
}
.gallery .lastImage {
  position: relative;
}
.gallery .lastImage .more {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.gallery .lastImage .more:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.gallery .hiddenImage {
  height: 0px;
  -webkit-transition: height 0s;
          transition: height 0s;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon- {
  display: none;
}

.icon-fw {
  background-image: url(../Images/icons/fw.svg);
}

.icon-thw {
  background-image: url(../Images/icons/thw.svg);
}

.icon-polizei {
  background-image: url(../Images/icons/polizei.svg);
}

.icon-drk {
  background-image: url(../Images/icons/drk.svg);
}

.icon-rd {
  background-image: url(../Images/icons/rd.svg);
}

.icon-rhs {
  background-image: url(../Images/icons/rhs.svg);
}

.icon-rth {
  background-image: url(../Images/icons/rth.svg);
}

.icon-malteser {
  background-image: url(../Images/icons/malteser.svg);
}

.icon-johanniter {
  background-image: url(../Images/icons/johanniter.svg);
}

.flashmessages h3 {
  display: none;
}
.flashmessages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flashmessages .flashmessages-ok {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
}
.flashmessages .flashmessages-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
}
.flashmessages .flashmessages-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
}

.signingArea {
  display: none;
}
.signingArea > p {
  margin-top: 30px;
  padding-bottom: 80px;
}
.signingArea > div {
  border-top: 1px solid black;
  font-style: italic;
}

.spinner {
  width: 1.5em;
  height: 1em;
  position: relative;
  display: inline-block;
}

.loader,
.loader:before,
.loader:after {
  background: #999;
  -webkit-animation: load1 1s infinite ease-in-out;
          animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  opacity: 0.8;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.loader {
  text-indent: -9999em;
  position: absolute;
  left: 2em;
  top: 0;
  font-size: 4px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  40%,
  100% {
    box-shadow: 0 0 #999;
    height: 4em;
    opacity: 0.8;
  }
  20% {
    box-shadow: 0 -2em #999;
    height: 5em;
    opacity: 1;
  }
}

@keyframes load1 {
  0%,
  40%,
  100% {
    box-shadow: 0 0 #999;
    height: 4em;
    opacity: 0.8;
  }
  20% {
    box-shadow: 0 -2em #999;
    height: 5em;
    opacity: 1;
  }
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

@media print {
  .flashmessages {
    display: none;
  }

  .signingArea {
    display: block;
  }

  body {
    padding-top: 0;
  }

  #main-content {
    float: left;
    width: 75%;
  }
  #main-content h1 {
    background-color: #999 !important;
    color: #fff !important;
  }

  #main-sidebar {
    float: left;
    width: 25%;
  }
  #main-sidebar .logo {
    display: block !important;
    width: 100%;
  }

  .container {
    width: auto;
  }
}
