{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace drk=DRKTettnang\Homepage\ViewHelpers}
<div class="operation animatedParent animateOnce">
	<h1 class="type">
		<span class="number animated growIn">
			#<drk:sub x="{total}" y="{index}" />
		</span>
		
		<drk:operationType key="{operation.type}" />
	</h1>

	<div class="body">
		<p class="description">
			{operation.description -> f:format.htmlspecialchars() -> drk:format.linebreak() -> f:format.raw()}
		</p>
		
		<f:if condition="{operation.assets}">
			<div class="images gallery">
	         <f:for each="{operation.assets}" as="image">
	            <a href="{media:uri.image(asset: image, maximumHeight: 2000, maximumWidth: 2000, allowCropping: false)}" 
	               data-bg-url-max="{media:uri.image(asset: image, maximumWidth: 720, allowCropping: false)}" 
	               data-bg-url-square="{media:uri.image(asset: image, height: 720, width: 720, allowCropping: true)}" 
	               data-bg-url-large="{media:uri.image(asset: image, height: 150, width: 720, allowCropping: true)}" 
	               data-bg-url-medium="{media:uri.image(asset: image, height: 130, width: 240, allowCropping: true)}" 
	               style="background-image:url({media:uri.image(asset: image, height: 120, width: 120, allowCropping: true)})"></a>
	         </f:for>
	      </div> 
		</f:if>
	</div>

	<div class="footer">
		<div class="location">
			<span class="fa fa-map-marker"></span> {operation.location -> f:format.htmlspecialchars()}
		</div>

		<div class="date">
			<span class="fa fa-calendar"></span> {operation.date -> f:format.date(cldrFormat: 'd. MMM, H:mm', forceLocale:'de_DE')}
		</div>
		
		<div style="clear:both"></div>
		
		<f:if condition="{operation.bos}">
			<!--<br />-->
			<div class="bos">
				<f:for each="{operation.bos}" key="b" as="bos" iteration="iterator">
					<div class="icon icon-{bos}" title="{drk:operationBos(key: bos)}" data-toggle="tooltip" data-placement="bottom"></div>
				</f:for>
			</div>
		</f:if>
		
		<div style="clear:both"></div>
	</div>

	<f:if condition="{more}">
		<p class="more">
			<neos:link.node additionalAttributes="{class: ''}" node="{more}"><span class="fa fa-hand-o-right"></span> Weitere Einsätze</neos:link.node>
		</p>
	</f:if>
</div>
