{namespace media=TYPO3\Media\ViewHelpers}
<f:if condition="{images}">
   <f:then>
      <div class="images gallery {alignment}"  style="{f:if(condition: width, then: 'width: {width}px;')}">
         <f:for each="{images}" as="image">
            <a href="{f:uri.resource(resource:image.resource)}" 
               data-bg-url-square="{media:uri.image(asset: image, height: 720, width: 720, allowCropping: true)}" 
               data-bg-url-large="{media:uri.image(asset: image, height: 150, width: 720, allowCropping: true)}" 
               data-bg-url-medium="{media:uri.image(asset: image, height: 130, width: 240, allowCropping: true)}" 
               style="background-image:url({media:uri.image(asset: image, height: 120, width: 120, allowCropping: true)})"></a>
         </f:for>
      </div> 
   </f:then>
   <f:else>
      <p>Bitte wähle ein paar Bilder aus.</p>
   </f:else>
</f:if>

<f:comment>
<f:switch expression="{f:count(subject: images)}">
   <f:case value="1"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, height: 720, width: 720, allowCropping: true)})"></a></f:case>
   <f:case value="2"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, height: 180, width: 360, allowCropping: true)})"></a></f:case>
   <f:case value="3"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, height: 180, width: 180, allowCropping: true)})"></a></f:case>
   <f:defaultCase><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, height: 100, width: 100, allowCropping: true)})"></a></f:defaultCase>
</f:switch>
</f:comment>

<f:comment>
<f:if condition="{width}">
   <f:then>
      <div class="images gallery {alignment}" {f:if(condition: width, then: 'style="width: {width}px;"'}>
         <f:for each="{images}" as="image">
               <a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, maximumHeight: 150, maximumWidth: 150, height: 100, width: 100, allowCropping: true)})"></a>
         </f:for>
      </div> 
   </f:then>
   <f:else>
      <div class="images gallery {alignment} img-{f:count(subject: images)}">
         <f:for each="{images}" as="image">
         <f:switch expression="{f:count(subject: images)}">
            <f:case value="1"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, maximumHeight: 900, maximumWidth: 900)})"></a></f:case>
            <f:case value="2"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, maximumHeight: 510, maximumWidth: 510)})"></a></f:case>
            <f:case value="3"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, maximumHeight: 330, maximumWidth: 330)})"></a></f:case>
            <f:case value="4"><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, maximumHeight: 250, maximumWidth: 250)})"></a></f:case>
            <f:defaultCase><a href="{f:uri.resource(resource:image.resource)}" style="background-image:url({media:uri.image(asset: image, height: 100, width: 100, allowCropping: true)})"></a></f:defaultCase>
         </f:switch>
         </f:for>
      </div> 
   </f:else>
</f:if>
</f:comment>
