{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<div class="mediaItem {alignment}">
   <div class="media" style="{f:if(condition: mediaImage, then: 'background-image: url({mediaImage}) !important;')}{f:if(condition: mediaColor, then: 'background-color: {mediaColor} !important;')}">
      {neos:contentElement.editable(property: 'mediaLabel', tag: 'span')}
   </div>
   <div class="content">
      <ts:render path="contentRenderer" context="{node: content}" />
   </div>
   <div style="clear:both"></div>
</div>
