{namespace neos=Neos\Neos\ViewHelpers} 
{namespace ts=Neos\Fusion\ViewHelpers}
<f:for each="{items}" as="item" iteration="iterator">
   <f:render partial="Operation" arguments="{total: iterator.total, index: iterator.index, operation: item.node.properties}" />
</f:for>
<p>Icons teilweise erstellt durch <a href="http://www.freepik.com" target="_blank">Freepik</a> von 
   <a href="http://www.flaticon.com" target="_blank">flaticon.com</a>
   unter
   <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> Lizenz.
</p>
